*{
    margin: 0px;
    padding: 0px;
    font-family: "ubutum", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth; /*activar desplazamiento suave*/

}  
:root{
    --tono-p: 200;
    --tono-s: 300;


    --primario-500: hsla(var(--tono-p), 30%, 50%, 1);
    --secundario-500:hsla(var(--tono-s), 100%, 50%, 1) ;

    --secundario-900: hsla(var(--tono-s), 50%, 10%, 1);
    --secundario-800: hsla(var(--tono-s), 50%, 20%, 1);
    --secundario-700: hsla(var(--tono-s), 50%, 30%, 1);
    --secundario-600: hsla(var(--tono-s), 50%, 40%, 1);
    --secundario-500: hsla(var(--tono-s), 100%, 50%, 1);
    --secundario-400: hsla(var(--tono-s), 100%, 60%, 1);
    --secundario-300: hsla(var(--tono-s), 100%, 70%, 1);
    --secundario-200: hsla(var(--tono-s), 100%, 80%, 1);
    --secundario-100: hsla(var(--tono-s), 100%, 90%, 1);
    --secundario-50: hsla(var(--tono-s), 100%, 98%, 1);
}


.contenedor_maestro {
    background-color: rgb(113, 168, 207);
    width: 800px;
    height: 800px;
    overflow-y: scroll;
    padding: 2rem;
    scroll-snap-type: y mandatory; /*activamos snap scroll*/

}  

header.portada {
    scroll-snap-align: start;
    background-image: linear-gradient(
        hsla(120, 80%, 50%, .7),
        hsla(200, 70%, 50%, .7)
    ), url(../img/cerca-pinturas-al-oleo-pinceles-paleta_176420-2834.jpg);
    background-size: cover;
    background-position: 60%;
    background-attachment: fixed;

    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
         animation:fondobanner 10s ease-in-out infinite;
         h1{
            
            
            font-size: 3rem;
            color: white;
            text-align: center;
            grid-row: 1/6;
            grid-column: 1/5;
        }

        p{
           
            font-size: 1.5rem;
            color: white;
            text-align: center;
            grid-row: 2/6;
            grid-column: 1/5;
        }

        a {
            grid-row: 4/6;
            grid-column: 2/5;
            font-size: 1rem;
            
    
            i{
                font-size: 3.5rem;
                animation: flotable-flecha 2s infinite;
                grid-row: 4/6;
                grid-column: 2/5;
            }
        }
 
}

@keyframes fondobanner {

    0%  {
        background-position: 40%  20%;

    }
    50%{
        background-position: 45%  30%;

    }
   
    100% {
        background-position: 10%  20%;
    }
 }  


@keyframes flotable-flecha {
    0% { transform: translateY(-.5rem);}
    50% { transform: translateY(.1rem);}
    100% { transform: translateY(-.5rem);}
}

section.contacto { 
    scroll-snap-align: start;
    background-color: rgb(255, 130, 130);
    width: 100%;
    height: 800px;
    display: flex;
    scroll-snap-align: start;
    background-image: linear-gradient(
        hsla(0, 100%, 76%, 0.7),
        hsla(62, 100%, 62%, 0.7)
    ), url(../img/piano-libro-musica_107420-64965.jpg);
    background-size: cover;
    background-position: 50%;
    background-position: 0%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;

    animation:fondobanner 10s ease-in-out infinite;
    
    @keyframes fondobanner {

        0%  {
            background-position: 40%  20%;
    
        }
        50%{
            background-position: 45%  30%;
    
        }
       
        100% {
            background-position: 10%  20%;
        }
}
}

/*redes sociales*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

main{
background-color: rgb(255, 255, 255);
height: 100vh;
position: relative;

} 

.rrss {
 
 display: flex;
 justify-content: center;
 gap: .5rem;
 align-items: center;
 width: max-content;
 position: absolute;
 top: calc(50% - (69px/2));
 right: 15px;
 transform: rotate(-90deg);
 


 
}

ul{
display: flex;
justify-content: center;

}




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    background-image: url(assets/img/piano-libro-musica_107420-64965.jpg);
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    background-color: blue;
    width: 90%;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.60);
    box-shadow: 0  0 10px rgba(0, 0, 0, .15);
    backdrop-filter: blur (20px);
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 1rem;

    div{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 1rem;
        
        input[type="text"],
        input[type="tel"],
        input[type="mail"],
        div selec { 

            padding: .5rem;
            border-radius: 0px;
            border: 1px;
        }
  
        textarea {
            width: 100%;
            min-height: 150px;
            padding: .5rem;

        }

        input:focus {
            outline: 3px solid rgb(18, 136, 209);

        }
        
    }  
    
    input[ type="submit"]{

        display: flex;
        padding: 1rem;
        width: 100%;
        font-size: 1.1rem;
        border-radius: 2rem;
        border: 0px;
        background-color: var(--secundario-500);
        color: white;
        font-weight: 600;
        cursor: pointer;
        position: absolute;
        width: 35%;
        height: 5%;
        left: 50%;
        transform: translate(-50) translateY(10%);
        bottom: -3%;
        
      

    }

     input[ type="submit"]:hover {
        background-color:( --secundario-600);
        
     }
        
    }
